body {
    background: linear-gradient(to bottom, rgb(56, 56, 56), rgb(41, 41, 41), black);
}
*{
  font-family:'Times New Roman', Times, serif;
  text-align: justify;
}
::-webkit-scrollbar{
  display: none;
}